<header class="hero-unit" id="banner">
  <div id="add-widget-container" class="container">
    <h1>Add your widgets</h1>
    <form>
      <row>
        <input ng-model="main.newWidgetText" class="form-control" type="text" placeholder="widget text"/>
      </row>
      <button ng-click="main.addWidget()" class="btn btn-default">Add widget</button>
    </form>
  </div>
</header>

<div id="widgets-container" class="container">
  <div class="row" ng-repeat="row in main.rows">
    <div class="col-md-4 col-lg-4 col-sm-6" ng-repeat="column in row">
      <div class="panel panel-default">
        <span ng-click="main.removeWidget($index+(3*$parent.$index))" class="glyphicon glyphicon-remove pull-right"></span>
        <p class="panel-body">{{column.text}}</p>
      </div>
    </div>
  </div>
</div>
