.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

#add-widget-container *{
  margin-top: 20px;
}

#widgets-container {
  margin-top: 20px;
}
